* {
    border: 0;
    margin: 0;
    box-sizing: border-box ;
    text-decoration: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: "Poppins", sans-serif;
    width:70%;
    margin: 0 auto;
    /* letter-spacing: 1; */
}
.header {
    padding: 30px;
    border-bottom: 1px solid rgb(224, 221, 221);
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.logo-nav {
    display: flex;
    align-items: center;
}
.logo {
    height: 25px;
}
.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    color: rgb(114, 114, 114);
}
li:hover {
    font-weight: bold;
 }
.cart-avatar {
    display: flex;
    align-items: center;
    gap: 20px;
}
.cart {
    font-size: 20px;
}
.avatar img {
    height: 40px;
}
.main {
    display: flex;
    align-items: center;
}
.product-images{
    width: 45%;
    padding: 80px 60px;
}
.main-image img{
    height: 400px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.thumbnails {
    display: flex;
    gap: 26px;
}
.thumbnails img{
    height: 80px;
    border-radius: 10px;
}
.first-thumbnail {
    opacity: 0.5;
}
.product-description {
    width: 55%;
    padding: 80px 60px;
}
.product-description h3 {
    color: rgb(114, 114, 114);
    text-transform: uppercase;
    letter-spacing:2px;
    margin-bottom: 20px;
}
.product-description h1 {
    text-transform: capitalize;
    font-size: 50px;
    line-height: 1;
    margin-bottom: 40px;
}
.product-description > p {
    font-size: 20px;
    line-height: 1.5;
    color: rgb(114, 114, 114);
    margin-bottom: 20px;
}
.discount-price {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}
.discount-price p {
    font-size: 35px;
    font-weight: 700;
}
.discount {
    padding: 5px 10px;
    font-size: 17px;
    background-color: black;
    color: white;
    border-radius: 7px;
    font-weight: 700;
}
.price {
    font-size: 20px;
    font-weight: 700;
    color: rgb(114, 114, 114);
    margin-bottom: 25px;
}
.add-cart {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: bold;
}
.add-cart button {
    color: darkorange;
    background-color: transparent;
}
.quantity {
    margin: none;
    padding: 20px 10px;
    display: flex;
    gap: 60px;
    background-color: #F7F8FD;
    border-radius: 10px;
}
.add-to-cart {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #FF7D1B;
    padding: 20px 100px;
    border-radius: 10px;
}